
*.png
*.svg
testi/.DS_Store
images/024d.jpg
testi/fl/52v.2.html
testi/fl/53v.html
testi/fl/53r.html
testi/fl/50r.html
testi/fl/50v.html
testi/fl/51r.1.html
testi/fl/51r.html
testi/fl/51r.2.html
testi/fl/51v.1.html
testi/fl/51v.html
testi/fl/52r.html
testi/fl/52v.1.html
.DS_Store
testi/sp/50r.html
testi/sp/50v.html
testi/fl/52v.html
testi/sp/51r.1.html
testi/sp/51r.2.html
testi/sp/51r.html
testi/sp/51v.1.html
testi/sp/51v.html
testi/sp/52r.html
testi/sp/52v.1.html
testi/sp/52v.html
testi/sp/52v.2.html
testi/sp/53r.html
testi/sp/53v.html
testo_apparato/testo_pulito_apparato.html
testi/sp/test.html
testo_apparato/puliti/fl/0001.html
testo_apparato/puliti/fl/0001.html
testo_apparato/puliti/fl/0001.html
testo_apparato/puliti/fl/0002.html
testo_apparato/puliti/fl/0003.html
testo_apparato/puliti/fl/0003.html
testo_apparato/puliti/fl/0004.html
testo_apparato/puliti/fl/0005.html
testo_apparato/puliti/fl/0006.html
testo_apparato/puliti/fl/0007.html
testo_apparato/puliti/sp/0001.html
testo_apparato/puliti/sp/0002.html
testo_apparato/puliti/sp/0003.html
testo_apparato/puliti/sp/0004.html
testo_apparato/puliti/sp/0006.html
testo_apparato/puliti/sp/0007.html
testo_apparato/puliti/sp/0008.html
testo_apparato/puliti/sp/0009.html
testo_apparato/puliti/sp/0010.html
testo_apparato/puliti/sp/0011.html
